@import '../../../assets/css/style.css';
@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900';
@import '../../../styles.scss';
.middle-part{
  width: 100%;
  min-height: 150vh;
  padding: 3% 0%;

  .container {
    width: 100%;
    height: 100%;
    // border: 1px solid gray;

    .article{

      margin: 5% 0%;

      .image-pan {
        display: flex;
        align-items: center;
        height: 100%;

        .image {
          display: flex;
          height: 40vh;
          justify-content: center;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .info-pan {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        .text {
          margin-bottom: 2%;
          display: flex;
          flex-direction: column;
          width: 100%;
          h2 {
            color: black;
            font-weight: 400;
            // line-height: normal;
            // white-space: nowrap;
            // width: 100%;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // border: 1px solid black;
          }
        }

        .meta{
          width: 50%;
          border-top: 1px solid #ccc;
          height: 5vh;
        }
      }

    }

    .article.hoverColor:hover {
      .info-pan {
        h2 {
          color: $orange-2;
        }
        .meta {
          color: $vert;
        }
      }
    }

    .paginate-pan {
      text-align: center;

      .paginate-element .ngx-pagination{
        background-color: red;
      }
    }
  }
}
