<app-navbar-header></app-navbar-header>

<!-- LIST ARTICLES -->
<div class="middle-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="article" *ngFor="let article of listArticle | paginate: { itemsPerPage: 5, currentPage: page }"
        [ngClass]="classColor" (mouseover)="classColor='hoverColor'">
          <div class="row">
            <div class="col-lg-6">
              <div class="image-pan">
                <a [routerLink]="['/espace-info/', article.id]" routerLinkActive="active" class="w-100 image">
                  <img [src]='article.image' alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-pan">

                <div class="text">
                  <a [routerLink]="['/espace-info/', article.id]" routerLinkActive="active">
                    <h2>
                      {{article.title}}
                    </h2>
                  </a>
                  <p>
                    {{ article.summary }}
                  </p>
                </div>
                <div class="meta">
                  <p><span>{{article.datePub}}</span> | <span>{{article.readTime}} min de lecture</span></p>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- PAGINATION PAN -->
    <div class="row">
      <div class="col-lg-12">
        <div class="paginate-pan">
          <pagination-controls previousLabel="Précédent" class="paginate-element"
          nextLabel="Suivant" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>

    <!-- PAGINATION PAN END -->
  </div>
</div>
<!-- LIST ARTICLES FIN -->
<app-footer></app-footer>
