<!-- FOOTER DEBUT -->
<footer class="ftco-footer">
  <div class="container">
    <div class="row">
      <div class="col-md ">
        <div class="ftco-footer-widget">
          <h2 class="ftco-heading-2">A propos <span class="name-part-orange">COV</span> <span class="name-part-vert">thentics</span></h2>
          <p>Tous ensemble contre le Corona Virus</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget">
          <h2 class="ftco-heading-2">Avez vous des Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Abidjan 23 BP 01</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+225 01 02 03 04</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright ©<script>document.write(new Date().getFullYear());</script>2020 Tous droits réservés
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>

<!-- FOOTER FIN -->
