@import '../../../assets/css/style.css';
@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900';
@import '../../../styles.scss';

.ftco-footer {
  padding: 0px;

  .name-part-vert{
    color: $vert
  }

  .name-part-orange {
    color: $orange-2
  }
}
