@import '../../../assets/css/style.css';
@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900';
@import '../../../styles.scss';


// -------------- NAVBAR --------------\\
.navbar {
  .container {
    .navbar-brand {
      color: $orange-2;
    }
    .collapse {
      .nav-item {
        span {
          font-weight: bold;
        }
        span:hover {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

// ------------- HEADER ---------------\\
.header-container {
  width: 100%;
  height: 65vh;
  // background-image: url("../../../assets/images/Covid19-Image.jpg");
  // background-position: 50% 0px;
  // background-size: cover;
  // background-repeat: no-repeat;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px);
  }
  .overlay {
    width: 100%;
    opacity: .3;
    background: rgba(247, 247, 247, 0.616);
    height: 65vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h2 {
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 50px;
    width: 60%;
  }

}
