<!-- NAV BAR DEBUT -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">COV<span>Thentics</span></a>
    <button (click)='scrollMenu2()' class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/list-articles" routerLinkActive="active"><span>Acceuil</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>Infos</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>A propos</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAV BAR FIN -->

<!-- HEADER DEBUT -->
<div class="header-container">
  <img [src]=imageCover alt="">
  <div class="overlay"></div>
  <h2> {{bannerTitle}} </h2>
</div>
