@import '../../assets/css/style.css';
@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900';
@import '../../styles.scss';

// ------------- MIDDLE ---------------\\

.middle-container {
  width: 100%;
  min-height: 150vh;
  padding: 3% 0%;

  .container {
    width: 100%;
    height: 100%;

    .article-part {

      .article-title {
        margin-bottom: 5px;
      }

      p {
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        color: #999999;
      }

      .image-illustrate {
        margin: 1% 0%;
      }

      .article-tags-part {
        display: flex;
        justify-content: center;
        margin: 5% 0%;

        span {
          text-transform: uppercase;
          display: inline-block;
          border-radius: 4px;
          border: 1px solid #ccc;
          margin-bottom: 7px;
          margin-right: 4px;
          color: black;
          padding: 4px 10px;
          font-size: 11px;
          cursor: pointer;
        }
      }

    }
  }
}
